.topbar .fill{
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0D1C22), to(#11242d));
    color: #ddd;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    height: 26px;
    padding: 4px 0 3px;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.topbar .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    zoom: 1;
}

header h1 {
    background-image: url(../icons/icon48.png);
    background-position: center middle;
    background-repeat: no-repeat;
    background-size: contain;
    text-indent: -9999em;
    height: 22px;
    width: 22px;
    float: left;
    display: block;
    margin-left: 10px;
    position: relative;
    z-index: 1000;
}

header a.options, header a.help {
    display: block;
    float: left;
    background-image: url(../images/gear-help.png);
    background-position: top left;
    background-repeat: no-repeat;
    margin-left: 10px;
    text-indent: -999em;
    position: relative;
    z-index: 1000;
    top: 3px;
}

header a.help {
    background-position: -20px 0;
    margin-left: 5px;
}

header .nav li {
    width: 28px;
    height: 26px;
}


/* additional tweaks to the Options and Help icon 'active' states */
.topbar ul .active > a {
    height: 32px;
    top: -3px;
    background-position: 0 6.5px;
    padding: 0 !important;
}

.topbar ul .active > a.help {
    background-position-x: -20px;
    width: 18px;
}