.topbar .fill{
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0D1C22), to(#11242d));
    color: #ddd;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    height: 26px;
    padding: 4px 0 3px;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

ul.nav li {
    display: inline;
}


.topbar .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    zoom: 1;
}

header h1 {
    background-image: url(../icons/icon48.png);
    background-position: center middle;
    background-repeat: no-repeat;
    background-size: contain;
    text-indent: -9999em;
    height: 22px;
    width: 22px;
    float: left;
    display: block;
    margin-left: 10px;
    position: relative;
    z-index: 1000;
}

header a {
    display: block;
    float: left;
    position: relative;
    margin-left: 10px;
    z-index: 1000;
}

header a.options {
    background: top left no-repeat url(../images/gear-help.png);
    text-indent: -9999px;
    top: 5px;
    width: 20px;
}

header a.options:hover {
    background: top left no-repeat url(../images/gear-help.png);
}

header a.help {
    background: top left no-repeat url(../images/gear-help.png);
    text-indent: -9999px;
    top: 5px;
    background-position: -20px 0;
    margin-left: 5px;
    width: 20px;
}

header a.help:hover {
    background: top left no-repeat url(../images/gear-help.png);
    background-position: -20px 0;
}

header .nav li {
    width: 28px;
    height: 26px;
}
