<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Msgboy</title>
    <meta name="application-name" content="Msgboy"/>
    
    <!-- Error Reporting Code -->
    <!-- <script type="text/javascript" src="../../controllers/error_notifier.js"></script> -->
    <script src="../js/background.js" type="text/javascript"></script> 
    <script src="../../src/socket.io.js" type="text/javascript"></script> 
    <script type="text/javascript">
      // Main!
      window.onload = function () {
          Msgboy.run('background');
      };
    </script>
</head>
<body>
    <div id="log"></div>
</body>