<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Msgboy Notification</title>
        <meta name="application-name" content="Msgboy"/>
        <link rel="stylesheet" href="../css/bootstrap.min.css" />
        <link rel="stylesheet" href="../css/header.css" />
        <link rel="stylesheet" href="../css/notification.css" />
        
        <!-- Error Reporting Code -->
        <!-- <script type="text/javascript" src="../../controllers/error_notifier.js"></script> -->
        <script src="../js/notification.js" type="text/javascript"></script> 
    
    </head>
    <body>
    </body>
</html>