<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Msgboy</title>
        <meta name="application-name" content="Msgboy"/>
        <link rel="stylesheet" href="../css/bootstrap.min.css" />
        <link rel="stylesheet" href="../css/full.css" />
        <link rel="stylesheet" href="../css/splash.css" />

        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-22746593-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </head>
    <body>
        <body>
            <div class="container">
                <h1><a href="http://msg.by">msgboy</a></h1>
                <div id="download">
                    <h2>A live stream of the stories you want</h2>
                    <a>install msgboy for Google Chrome</a>
                </div>
                <img id="screenshot" src="" />
                <div class="row footer">
                    <div class="span4">
                        <h3>Smart + Customizable</h3>
                        <p>Msgboy is a Google ChromeTM application that builds a custom feed of stories for you based on the websites you visit most and the ones you’ve bookmarked, and delivers them in realtime.</p>
                        <p>Msgboy also gives you the contols allowing you customize your feed so that you are seeing more of the stories you want and less of the ones that you don’t.</p>
                    </div>
                    <div class="span4">
                        <h3>Private + Secure</h3>
                        <p>We take your privacy extremely seriously and we do not store any information about msgboy’s users. Msgboy runs locally.</p>
                        <p>Your data stays with you, on your computer and is never sent to any server.</p>
                    </div>
                    <div class="span4">
                        <h3>Open Source</h3>
                        <p>We are strong believers in the open source movement, and Msgboy is open source. You can help make it better by improving its code, by reporting errors and by asking questions.</p>
                    </div>
                </div>
            </div>
        </body>
    </body>
</html>
