<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Msgboy Options</title>
    <meta name="application-name" content="Msgboy" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/full.css" />
    <script src="../js/frontend.js" type="text/javascript"></script> 
    <script type="text/javascript">
      window.onload = function () {
          Msgboy.run("subscriptions");
      };
    </script>

</head>
<body>
    <header class="topbar">
        <div class="fill">
            <div class="container">
                <a href="dashboard.html"><h1>Msgboy</h1></a>
                <ul class="nav">
                    <li><a href="options.html" class="options">Options</a></li>
                    <li><a href="help.html" class="help">Help</a></li>
                </ul>
            </div>
        </div>
    </header>

    <div id="info">

<!--         
        <div id="modal-plugin" class="modal backdrop fade">
            <div class="modal-header">
                <a href="#" class="close">×</a>
                <h3>Plugin</h3>
            </div>
            <div class="modal-body">
                <p class="subscribingTo"></p>
            </div>
            <div class="modal-footer">
            </div>
        </div>

        <h1>Plugins</h1>
        <p>This allows you to re-import existing subscriptions on other well known webservices. </p>
        <p id="plugins">
        </p>
 -->
        <span href="#" class="btn btn-large btn-primary" id="opml" style="float:right; margin:20px">Export as OPML</span>
        <h1>Subscriptions</h1>
        <table id="subscriptions" class="table-condensed">
            <thead>
                <tr>
                    <th>URL</th>
                    <th>State</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>


    </div>

    <img id="buildings" src="../images/buildings.png" />
    <img id="clouds" src="../images/clouds.png" />
    <img id="signal" src="../images/mb-signal.png" />

    <script type="text/template" id="subscription-template">
    <td class="truncate"><%= id %></td>
    <td><%= state %></td>
    <td><button class="btn btn-mini"><%= state === "subscribed" || state === "subscribing" ? "Unsubscribe" : "Subscribe"%></button></td>
    </script>

</body>
</html>

