
table
  &#subscriptions
    border: 0 !important
    width: 85%
    margin-left: 20px
    margin-right: 20px
    tr
      td
        padding: 10px 0px 10px 0px
        max-width: 330px
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        .btn
          &.small.action
            padding: 3px 9px 3px
            margin: 0px
